<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Ich studiere</title>

		<!-- Bootstrap -->
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">

	</head>
	<body>
		<h1>Ich studiere</h1>
		<div class='navbar navbar-inverse'>
			<div class='nav-collapse' style="height: auto;">
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Page One</a></li>
					<li><a href="#">Page Two</a></li>
				</ul>
			</div>
		</div>

	</body>
</html>
